</style>
</head>
<body>

<h1>Ira's Final Project</h1>

<div class="myDiv">
  <h2>2048</h2>
  <p>...with AI...</p>
</div>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>2048 Game</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <div class="container">
        <h1>2048 Game</h1>
        <div id="grid-container">
        </div>
        <div id="score">Score: <span id="score-value">0</span></div>
        <button id="reset-button">New Game</button>
    </div>

<p>Join the tiles, get to 2048!</p>
    <script src="../static/custom.js"></script>
</body>
</html>

<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Ira's Final Project.2048w/ai</title>-->

<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
<!--<style>-->
<!--.myDiv {-->
<!--  border: 4px outset #ae4bf2;-->
<!--  background-color: BlueViolet;-->
<!--  text-align: center;-->

<!--}-->

